public/.csslintrc
public/.editorconfig
public/.eslintignore
public/.eslintrc.json
public/.gitattributes
public/.ht.router.php
public/.htaccess
public/autoload.php
public/example.gitignore
public/index.php
public/INSTALL.txt
public/LICENSE.txt
public/README.txt
public/robots.txt
public/update.php
public/web.config
public/core
public/modules/README.txt
public/profiles/README.txt
public/sites/README.txt
public/sites/*/*settings*.php
public/sites/*/*services*.yml
public/sites/*/files
public/sites/*/private
public/sites/simpletest
public/sites/*/translations
public/sites/*/tmp
public/sites/*/cache
public/themes/README.txt
vendor/
